################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/obj
*.csproj
/Domain/obj
/Infrastructure/obj
*.sln
/Application/bin/Debug/net6.0
/ConsolePresentation/bin/Debug/net6.0
/ConsolePresentation/obj
/Domain/bin/Debug/net6.0
/Infrastructure/bin/Debug/net6.0
/SignalRTest
