################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/obj
*.csproj
/Domain/obj
/Infrastructure/obj
*.sln
